{% extends 'base.html' %}

{% block title %}Favorites{% endblock %}

{% block content %}
<h1 class="page-title">Favorites</h1>

<div class="file-list">
    {% for favorite in page_obj %}
    <div class="file-item">
        <a href="{% url 'file_detail' favorite.file.id %}" class="full-width-button">{{ favorite.file.title }}</a>
        <form action="{% url 'remove_from_favorites' favorite.file.id %}" method="post" class="favorite-form">
            {% csrf_token %}
            <button type="submit" class="remove-favorite-button">Remove from Favorites</button>
        </form>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}