{% extends 'base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
<div class="page-title-container">
    <h1 class="page-title">Main page</h1>
    {% if not user.is_authenticated %}
    <div class="unauthenticated-message">
        <p>Register or log in to load your songs! ⭡⭡⭡</p>
    </div>
    {% endif %}
</div>

<div class="file-list">
    <!-- Отображение кнопок и файлов -->
    {% for item in page_obj %}
        {% if item.url %}  <!-- Если элемент - кнопка -->
        <div class="file-item">
            <a href="{% url item.url item.id %}" class="full-width-button">{{ item.title }}</a>
        </div>
        {% else %}  <!-- Если элемент - файл -->
        <div class="file-item">
            <a href="{% url 'file_detail' item.id %}" class="full-width-button">{{ item.title }}</a>
        </div>
        {% endif %}
    {% endfor %}
</div>

<!-- Пагинация -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}